@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
body {
    background-color: #202020;
    margin: 0;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    color: #fff;
}
@media screen and ( max-width: 767px ) {
    body {
        padding: 15px 15px 0 15px;
    }
}
@media screen and ( min-width: 768px ) {
    body {
        padding: 30px 30px 0 30px;
    }
}
::selection {
    background-color: #FFCE2D;
    color: #202020;
}
.js-datatable:not(.dataTable),
.js-datatable:not(.dataTable) + .update {
    display: none;
}
table.dataTable thead th, table.dataTable thead td {
    padding: 10px 15px 10px 0;
}
table.dataTable tbody th, table.dataTable tbody td {
    padding: 8px 10px 8px 0;
}
table.dataTable thead .sorting,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc {
    background-image: none;
}
.dataTable a {
    border-bottom: 1px dotted #fff;
    line-height: 1.5;
    color: #fff;
    text-decoration: none;
}
table tr {
    background-color: #202020 !important;
}
table th {
    text-align: left;
    font-weight: normal !important;
}
#DataTables_Table_0_filter {
    float: none;
    text-align: center;
    margin-bottom: 50px;
}
#DataTables_Table_0_filter label {
    font-size: 0;
}
#DataTables_Table_0_filter input::selection {
    background-color: #202020;
    color: #fff;
}
#DataTables_Table_0_filter input {
    min-width: auto;
    width: 100%;
    max-width: 270px;

    margin: 0 !important;
    padding: 10px 15px;
    border: 0;
    border-radius: 10px;
    background-color: #2b2b2b;

    text-transform: uppercase;
    font-size: 20px;
    color: #ffffff;

    font-family: 'Viga', sans-serif;
    font-weight: 400;
    font-style: normal;
}
#DataTables_Table_0_filter input::placeholder {
    opacity: 0.2;
}
#DataTables_Table_0_filter input:focus {
    outline: 0;
}
.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #FFCE2D;
}
.dataTables_info {
    text-align: left !important;
}
table.dataTable thead th,
table.dataTable thead td { border-bottom: 1px solid #FFCE2D; }
#DataTables_Table_0_info {
    color: #aaa;
}
@keyframes rotating {
    0% { transform: rotate( 0 ); }
    100% { transform: rotate( 360deg ); }
}
.update {
    margin-top: 15px;
}
.update a {
    text-decoration: none;
    color: #aaa;
}
.update a:hover {
    color: #fff;
}
.update .text {
    margin-left: 10px;
}
.update svg {
    width: 20px;
    position: relative;
    top: 3px;
}
.update .icon-reload svg {
    color: #00a8ff;
}
.update .icon-spinner svg {
    color: #FFCE2D;
    animation: rotating 1.2s linear infinite;
}
.update .icon-check svg {
    color: #4cd137;
}